.editor-container {
  width: 80%;
  max-height: 720px;
  min-height: 720px;
  margin: 40px auto;
  border: 2px solid #b7c396;
  background-color: #fefefe;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.toolbar {
  display: flex;
  gap: 6px;
  padding: 8px;
  border-bottom: 1px solid #b7c396;
  background: #b7c396;
  flex-shrink: 0;
}

.toolbar button {
  padding: 5px 10px;
  border: 1px solid #48512e;
  border-radius: 8px;
  background: #c7d1ae;
  cursor: pointer;
}

.toolbar button:hover{
  background: #819253;
}

.toolbar .uploadDiv .fileUploadBtn{
  cursor: pointer;
  height: 38px;
  padding-right: 12px;
  padding-left: 8px;
  display: inline-flex;
  align-items: center;
  gap:  8px ;
  position:  relative ;
  overflow:  hidden ;
  color: #2b311c;
  border: 1px solid #48512e;
  border-radius: 8px;
  background:#c7d1ae;
  font-size: 14px ;
}

.toolbar .uploadDiv .fileUploadBtn:hover{
  cursor: pointer;
  background: #819253;
}


.editor {
  min-height: 300px;
  padding: 20px;
  outline: none;
}

.editor h1 {
  font-size: 2rem;
}

.editor p {
  margin: 0 0 1em;
}

.editor-scroll-container{
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.analysis-panel{
  border: 1px solid #b7c396;
  border-radius: 8px;
}